@model tipCalculator
@{
    ViewData["Title"] = "Tip Calculator";
}

<div asp-validation-summary = "All"></div>

<form asp-action = "Index" method = "post">
    <div>
        <label>Cost of Meal:</label>
        <input asp-for = "mealCost" />
    </div>

    <div>
        <label>20% tip:</label>
        <label>@ViewBag.Twenty.ToString("c2")</label>
    </div>

    <div>
        <label>15% tip:</label>
        <label>@ViewBag.Fifteen.ToString("c2")</label>
    </div>

    <div>
        <label>25% tip:</label>
        <label>@ViewBag.TwentyFive.ToString("c2")</label>
    </div>

    <div>
        <button type = "submit">Calculate</button>
        <a asp-uiactions = "Index">Clear</a>
    </div>
</form>
